.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .inner-container {
    height: 500px;
    width: 512px;
    overflow-y: hidden;
    border-radius: 4px;

    .background {
      position: relative;
      width: 512px;
      height: 1000px;
      background: linear-gradient(to bottom, #0d191e 0%, #0f262b 40%, #006C90 80%, #2FB4E0 100%);
      transition: all 900ms ease-in-out;
      transition-delay: 500ms;
      transform: translateY(-50%);

      &.transition-sky {
        transform: translateY(0%);
      }

      .stars {
        position: absolute;
        bottom: 0;

        .stars-1 {
          position: absolute;
          left: 110px;
          bottom: 350px;
        }

        .stars-2 {
          position: absolute;
          left: 80px;
          bottom: 520px;
        }
        .stars-3 {
          position: absolute;
          left: 67px;
          bottom: 700px;
        }
        .stars-4 {
          position: absolute;
          left: 125px;
          bottom: 900px;
        }
      }

      .launch-pad {
        position: absolute;
        bottom: 0;

        .floor {
          position: absolute;
          bottom: 15px;
          width: 512px;
          height: 3px;
          stroke-dasharray: 256;
          stroke-dashoffset: 256;
          animation: dash 750ms linear forwards;
        }

        .tower {
          position: absolute;
          bottom: 16px;
          width: 44px;
          height: 215px;
          stroke-dasharray: 440;
          stroke-dashoffset: 440;
          animation: dash 750ms linear forwards;
          animation-delay: 50ms;

          .offset {
            stroke-dasharray: 50;
            stroke-dashoffset: 50;
            animation: dash 600ms linear forwards;
            animation-delay: 100ms;
          }
        }

        .tower-bg {
          position: absolute;
          bottom: 16px;
          width: 25px;
          height: 125px;
          stroke-dasharray: 250;
          stroke-dashoffset: 250;
          animation: dash 600ms linear forwards;
          animation-delay: 300ms;

          .offset {
            stroke-dasharray: 50;
            stroke-dashoffset: 50;
            animation: dash 500ms linear forwards;
            animation-delay: 350ms;
          }
        }

        .base {
          position: absolute;
          bottom: 16px;
          left: 198px;
          width: 118px;
          height: 41px;
          stroke-dasharray: 280;
          stroke-dashoffset: 280;
          animation: dash 750ms linear forwards;
          animation-delay: 600ms;
        }

        .tower-left {
          left: 69px;
        }

        .tower-bg-left {
          left: 157px;
        }

        .tower-bg-right {
          left: 331px;
        }

        .tower-right {
          left: 401px;
        }
      }

      .rocket {
        position: absolute;
        bottom: 0;

        .rocket-ship {
          position: absolute;
          bottom: 57px;
          left: 216px;
          width: 82px;
          height: 128px;
          stroke-dasharray: 130;
          stroke-dashoffset: 130;
          animation: dash 800ms linear forwards;
          animation-delay: 750ms;
        }

        .rocket-trails {
          position: absolute;
          bottom: 25px;
          left: 240px;
          width: 36px;
          height: 29px;

          .rocket-trails-left, .rocket-trails-right {
            stroke-dasharray: 60;
            stroke-dashoffset: 60;
            animation: dash 560ms ease-in infinite;
            animation-delay: 550ms;
          }

          .rocket-trails-middle {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: dash 600ms ease-in infinite;
            animation-delay: 550ms;
          }
        }

        .rocket-shake {
          stroke-dashoffset: 0;
          animation: shake 450ms linear forwards;
        }

        &.flight-wobble {
          animation: wobble 600ms linear infinite;
          animation-delay: 1000ms;
        }

        &.launch-rocket {
          animation: rocket 2000ms ease-in-out forwards;
          animation-delay: 500ms;
        }
      }

      .complete {

        .circle {
          position: absolute;
          top: 150px;
          left: 212px;
          width: 83px;
          height: 83px;
          transform: rotate(-35deg);
          stroke-dasharray: 260;
          stroke-dashoffset: 260;
          animation: dash 400ms ease-in-out forwards;
          animation-delay: 2800ms
        }

        .tick {
          position: absolute;
          width: 50px;
          top: 175px;
          left: 233px;
          stroke-dasharray: 150;
          stroke-dashoffset: 150;
          animation: dash 400ms ease-in-out forwards;
          animation-delay: 3200ms;
        }
      }
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes shake {
      10%, 90% {
        transform: translateX(-1px);
      }

      20%, 80% {
        transform: translateX(2px);
      }

      30%, 50%, 70% {
        transform: translateX(-4px);
      }

      40%, 60% {
        transform: translateX(4px);
      }
    }

    @keyframes wobble {
      5%, 15%, 25%, 35%, 45% {
        transform: translateX(-1px);
      }

      10%, 20%, 30%, 40% {
        transform: translateX(1px);
      }
    }

    @keyframes rocket {
      40%{
        bottom: 550px;
        transition: bottom cubic-bezier(0.28, 1.32, 0.91, -0.12);
      }
      80% {
        bottom: 680px;
        transition: bottom cubic-bezier(0.86, 1.7, 0.33, -0.27);
      }
      100% {
        bottom: 1050px;
        transition: bottom cubic-bezier(0.93, 0, 1, 0.61);
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .launch-button {
    margin: 10px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #ff0000;
    color: #ffffff;
    font-weight: 800;
    border: none;
    outline: none;
    transition: all 150ms ease-in-out;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);

    &:hover {
      background: #e70000;
      transition: all 150ms ease-in-out;
    }

    &:active {
      transform: translate(1px, 1px);
      box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.9);
      transition: all 150ms ease-in-out;
    }
  }
}
